            <div class="card oculto" id="recomendacion">
                <div class="card-header" id="recomendacionxP">
                    <h3>Recomendacion para {{nombre}}</h3>
                </div>
            <div class="card-body" id="imag">
                </div>
            </div>