<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class="container" id="basetitulo">
        <div class="row">
            <div class="col-md-12">
                <h1 id="titulo">¿CUAL TARJETA GRAFICA ME RECOMIENDA COMPRAR PARA MI PC DE ESCRITORIO?</h1>
            </div>
        </div>
    </div>
    <div class="separador"></div> 
    <div class="container" id="base">
        <div class="row">
            {{> preguntas}}
            <input type="button" class="btn btn-primary" id="botonenvia" value="Enviar" onclick="decide()">
            {{> boton}}
        </div>
    </div>
</body>